# Copyright (C) 2023 Gramine contributors
# SPDX-License-Identifier: BSD-3-Clause

# Python3 manifest example - FULLY HARDCODED VERSION

libos.entrypoint = "/data/sage-10.6/src/bin/sage-python"

loader.log_level = "{{ log_level }}"

#loader.env.LD_LIBRARY_PATH = "/lib:/lib:/home/kfox24/miniconda3/envs/ibe/lib"
loader.env.OMP_NUM_THREADS = "4"

loader.insecure__use_cmdline_argv = true
sys.enable_sigterm_injection = true

fs.mounts = [
  # Gramine runtime
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  
  # Python entrypoint and script
  { path = "/data/sage-10.6/src/bin/sage-python", uri = "file:/data/sage-10.6/src/bin/sage-python" },
  { path = "/app.py", uri = "file:basicident.py"},

  # Main library directory (formerly arch_libdir)
  #{ path = "/home/kfox24/miniconda3/envs/ibe/lib", uri = "file:/home/kfox24/miniconda3/envs/ibe/lib" },
  
  #WITHOUT CONDA
  #{ path = "/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python312.zip", uri = "file:/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python312.zip" },
  { path = "/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12", uri = "file:/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12" },
  { path = "/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/lib-dynload", uri = "file:/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/lib-dynload" },
  #{ path = "/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/site-packages", uri = "file:/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/site-packages" },
  { path = "/data/sage/src/", uri = "file:/data/sage/src/" },

  # Manually added Python sys.path entries
  #{ path = "/home/kfox24/miniconda3/envs/ibe/lib/python311.zip", uri = "file:/home/kfox24/miniconda3/envs/ibe/lib/python311.zip" },
  #{ path = "/home/kfox24/miniconda3/envs/ibe/lib/python3.11", uri = "file:/home/kfox24/miniconda3/envs/ibe/lib/python3.11" },
  #{ path = "/home/kfox24/miniconda3/envs/ibe/lib/python3.11/lib-dynload", uri = "file:/home/kfox24/miniconda3/envs/ibe/lib/python3.11/lib-dynload" },
  #{ path = "/home/kfox24/miniconda3/envs/ibe/lib/python3.11/site-packages", uri = "file:/home/kfox24/miniconda3/envs/ibe/lib/python3.11/site-packages" },
  
  # Tmpfs
  { type = "tmpfs", path = "/tmp" },
]

sys.stack.size = "2M"
sys.enable_extra_runtime_domain_names_conf = true

sgx.debug = true
sgx.enclave_size = "1G"
sgx.remote_attestation = "none"

sgx.trusted_files = [
  # Gramine runtime
  "file:{{ gramine.runtimedir() }}/",
  "file:/data/sage/src/",
  # Python entrypoint and script
  #"file:/home/kfox24/miniconda3/envs/ibe/bin/python3.11",
  "file:basicident.py",

  # Main library directory (formerly arch_libdir)
  #"file:/home/kfox24/miniconda3/envs/ibe/lib/",
  
  # Manually added Python sys.path entries
  #"file:/home/kfox24/miniconda3/envs/ibe/lib/python3.11.zip",
  #"file:/home/kfox24/miniconda3/envs/ibe/lib/python3.11/",
  #"file:/home/kfox24/miniconda3/envs/ibe/lib/python3.11/lib-dynload/",
  #"file:/home/kfox24/miniconda3/envs/ibe/lib/python3.11/site-packages/",

  #WITHOUT CONDA
  #"file:/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python312.zip",
  "file:/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/",
  "file:/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/lib-dynload/",
  #"file:/data/sage/local/var/lib/sage/venv-python3.12.5/lib/python3.12/site-packages/",
  
  # System libraries and devices
  "file:/dev/random",
  "file:/dev/urandom",
]
